/*--- Leaderboard ---*/
.bx-reputation-leaderboard .bx-base-pofile-unit,
.bx-reputation-leaderboard .bx-account-unit {
    width: auto;
    margin: 0;
}

/*--- History ---*/
.bx-reputation-h-footer .bx-paginate {
    justify-content: flex-end;
}

/*--- Actions ---*/
.bx-reputation-a-footer .bx-paginate {
    justify-content: flex-end;
}
