<div class="pswp-gallery flex">
    <bx_repeat:attached>
        <div class="__style_prefix__-attached-preview w-24 h-24 m-1">
            <bx_if:show_image>
                <a href="__file__" data-file-id="__file_id__" data-src="__file__" data-pswp-src="__file__" data-pswp-width="__w__" data-pswp-height="__h__" title="<bx_text_attribute:_cmt_view_attached_image />">
                    <img class="w-24 h-24 bg-cover rounded" src="<bx_image_url:spacer.gif />" style="background-image:url(__preview__)" />
                </a>
            </bx_if:show_image>
            <bx_if:show_file>
                <a href="__file__" title="<bx_text_attribute:_cmt_download_attached_file />">
                    <img class="w-24 h-24 bg-cover rounded" src="<bx_image_url:spacer.gif />" style="background-image:url(__preview__)" />
                </a>
            </bx_if:show_file>
        </div>
    </bx_repeat:attached>
</div>
