<li id="cmt__id__" class="__style_prefix____class__ mb-4">
    <a id="__anchor__" class="__style_prefix__-anchor"></a>
    <div class="__style_prefix__-cnt__class_cnt__ flex items-start">
        <div class="__style_prefix__-blink-plate"></div>
        <div class="__style_prefix__-avatar bx-def-thumb-size flex-none">__author_unit__</div>
        <div class="__style_prefix__-info bx-def-thumb-size-min-height flex-auto min-w-0 ltr:pl-2 ltr:lg:pl-4 rtl:pr-2 rtl:lg:pr-4">
            __header__
            <div class="__style_prefix__-cont mt-2">
                <div class="__style_prefix__-cont-cnt">__content__</div>
            </div>
            __actions__
        </div>
    </div>
    <bx_if:show_replies>
        <ul class="cmts cmts-all cmts-margin">__replies__</ul>
    </bx_if:show_replies>
</li>