<bx_if:show_notes>
    <div class="__style_prefix__-notes mb-1">
        <bx_repeat:notes>
            <div class="__style_prefix__-note mt-1 first:mt-0 text-sm text-gray-500 dark:text-gray-400">
                <div class="__style_prefix__-n-text<bx_if:show_note_color> col-__item_note_color__</bx_if:show_note_color>">__item_note__</div>
            </div>
        </bx_repeat:notes>
    </div>
</bx_if:show_notes>
<div class="__style_prefix__-head flex">
    <bx_if:meta><span class="__style_prefix__-meta bx-base-general-unit-meta">__meta__</span></bx_if:meta>
    <bx_if:show_pinned><span class="__style_prefix__-pinned ml-2"><i class="sys-icon thumbtack" title="<bx_text:_cmt_txt_pinned />"></i></span></bx_if:show_pinned>
</div>