<div class="bx-recommendation __class__">
    <div class="bx-recommendation-content bx-search-result-block __class__ -m-2">__content__</div>
    <bx_if:show_paginate>
        <div class="bx-recommendation-paginate mt-4">__paginate__</div>
    </bx_if:show_paginate>
</div>
<bx_if:show_showcase>
    <script language="javascript">
        $(document).ready(function () {
            const sSelWrapper = '.bx-recommendation.__class__';
            const sSelItem = '.bx-base-pofile-unit-with-cover';

            bx_showcase_init(sSelWrapper, sSelItem);

            $(window).on('resize', function() {
                bx_showcase_init(sSelWrapper, sSelItem);
            });
        });
    </script>
</bx_if:show_showcase>