/*--- Task: Assignments ---*/
.bx-tasks-assignments .bx-base-pofile-unit {
    margin: 0;
}

/*--- Tasks List ---*/
.bx-tasks-tasklist .bx-def-color-bg-hl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}
.bx-tasks-tasklist-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: calc(100% - 220px);
}

.bx-tasks-task-checkbox {
    display: inline-block;
    height: 24px;
}
.bx-tasks-task-checkbox input[type=checkbox] {
    display:none;
}
.bx-tasks-task-checkbox input[type=checkbox] + label {
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0;

    line-height: 1;
    font-size: 1.5rem;

    cursor: pointer;
}
.bx-tasks-task-checkbox input[type=checkbox] + label .bx-tasks-completed {
    display: none;
}
.bx-tasks-task-checkbox input[type=checkbox] + label .bx-tasks-uncompleted {
    display: block;
}
.bx-tasks-task-checkbox input[type=checkbox]:checked + label .bx-tasks-completed {
    display: block;
}
.bx-tasks-task-checkbox input[type=checkbox]:checked + label .bx-tasks-uncompleted {
    display: none;
}
.bx-tasks-task {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.bx-task-state {
    flex-grow: 2;
    text-align: right;
}
.bx-tasks-members {
    display: flex;
    justify-content: flex-end;
    padding-left: 1rem;
}
.bx-tasks-members .bx-base-pofile-unit-wo-info {
    display: inline-block;   
    width: 2rem;
    height: 2rem;
    margin-left: -1rem;
}
.bx-tasks-members .bx-def-thumb-size{
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}
.bx-tasks-task .bx-badges-list {
    display: inline-block;
}
.bx-tasks-tasklist .bx-tasks-task-completed{
    display: none;
}
.bx-tasks-tasklist-filter-all .bx-tasks-task-completed{
    display: flex;
}
.bx-tasks-tasklist-filter-completed .bx-tasks-task-uncompleted{
    display: none;
}
.bx-tasks-tasklist-filter-completed .bx-tasks-task-completed{
    display: flex;
}
.bx-tasks-tasklist .bx-def-border-bottom:last-child{
    border: none;
}
.bx-tasks-task .bx-tasks-task-name{
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.ui-autocomplete{
    z-index: 10000 !important;
}
.bx-media-desktop .bx-tasks-form-cnt{
    width: 800px;
}

/*--- View Task: Comments List ---*/
.cmts .cmt.cmt-auto {
    margin-bottom: 0.25rem;
}
.cmts .cmt:not(.cmt-auto) {
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}
.cmts .cmt:last-child {
    margin-bottom: 1.0rem;
}
.cmts .cmt.cmt-auto .cmt-avatar {
    height: 0;
}
.cmts .cmt.cmt-auto .cmt-info .cmt-cont,
.cmts .cmt.cmt-auto .cmt-info .cmt-cont .cmt-body {
    margin-top: 0;
    font-size: 0.75rem;
}