<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" backupGlobals="false" failOnRisky="false" failOnPhpunitDeprecation="false">
  <testsuites>
    <testsuite name="AllTests">
      <directory>./units</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./inc</directory>
      <directory suffix=".php">./modules</directory>
      <directory suffix=".php">./periodic</directory>
      <directory suffix=".php">./studio</directory>
      <directory suffix=".php">./template</directory>
    </include>
    <exclude>
      <directory suffix=".php">updates</directory>
      <directory suffix=".php">plugins</directory>
    </exclude>
  </source>
  <logging>
    <junit outputFile="./../logs/junit.xml" />
  </logging>
</phpunit>
