<div class="__style_prefix__-by-list">
    <div class="__style_prefix__-by-list-cnt">
        <div class="__style_prefix__-by-items">
            <bx_repeat:list>
                <div class="__style_prefix__-by-item bx-def-padding-sec bx-clearfix">
                    <div class="__style_prefix__-bi-thumbnail">__user_unit__</div>
                    <div class="bx-report-bi-info mt-1">
                        <p class="bx-report-bii-type flex justify-between items-center"><span class="bx-def-font-bold">__value__</span><span>__date__</span></p>
                        <bx_if:show_text>
                            <p class="bx-report-bii-text bx-def-font-small bx-def-font-grayed">__text__</p>
                        </bx_if:show_text>
                    </div>
                </div>
            </bx_repeat:list>
        </div>
    </div>
</div>