<div id="__html_id_lists__">
    <bx_if:allow_add_entry>
        <a class="bx-btn bx-btn-small mr-2" href="javascript:void(0);" onclick="__js_object__.processEntry(__context_id__, 0, this)"><bx_text:_bx_resources_txt_entry_add /></a>
    </bx_if:allow_add_entry>
    <bx_if:allow_add_list>
        <a class="bx-btn bx-btn-small mr-2" href="javascript:void(0);" onclick="__js_object__.processList(__context_id__, 0, this)"><bx_text:_bx_resources_txt_list_add /></a>
    </bx_if:allow_add_list>
    <div class="pt-4">
        <bx_repeat:lists>
            <div class="bx-def-margin-top bx-def-padding-bottom bx-resources-list" id="__html_id_list__">
                <div class="bx-def-padding-sec bx-def-color-bg-hl">
                    <span class="bx-resources-list-title">
                        <bx_if:allow_edit_list>
                            <a href="javascript:void(0);" onclick="__js_object__.processList(__context_id__, __list_id__, this)" title="__title__">__title__</a>
                        </bx_if:allow_edit_list>
                        <bx_if:deny_edit_list>__title__</bx_if:deny_edit_list>
                    </span>
                    <div class="bx-resources-list-actions flex items-center">
                        <bx_if:allow_add>
                            <a class="bx-btn bx-btn-small mr-2" href="javascript:void(0);" onclick="__js_object__.processEntry(__context_id__, __list_id__, this)"><bx_text:_bx_resources_txt_entry_add /></a>
                        </bx_if:allow_add>
                        <bx_if:allow_delete_list>
                            <a class="bx-btn bx-btn-small" href="javascript:void(0);" onclick="__js_object__.deleteList(__context_id__, __list_id__, this)"><i class="sys-icon remove"></i></a>
                        </bx_if:allow_delete_list>
                    </div>
                </div>
                <bx_repeat:entries>
                    <div class="bx-def-padding-sec  bx-def-border-bottom  bx-resources-entry">
                        <a href="__url__" class="bx-resources-entry-name pr-2" title="__title__">__title__ </a>
                        <span class="bx-entry-badge flex pr-2">__badges__</span>
                        <span class="bx-def-font-small bx-def-font-grayed pr-2">__created__</span>
                    </div>
                </bx_repeat:entries>
            </div>
        </bx_repeat:lists>
    </div>
</div>