/*-- Labels Form Field --*/
.sys-labels .bx-form-input-text.bx-form-input-autotoken {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    box-sizing: border-box;
    height: auto;
    min-height: 2.5rem;
}
.sys-labels .bx-form-input-text.bx-form-input-autotoken b,
.sys-labels .bx-form-input-text.bx-form-input-autotoken input:not([type = 'hidden']) {
    position: relative;
    display: flex;
    align-items: center;
    float: none;

    height: 1.625rem;

    line-height: 1.625rem;
}
.sys-labels .bx-form-input-text.bx-form-input-autotoken b {
    margin: 0.125rem;
    padding: 0 0.5rem;
    
    border-radius: 1.25rem;

    font-weight: normal;
    white-space: nowrap;
    cursor: pointer;
}

.sys-labels .bx-form-input-text.bx-form-input-autotoken b.val-placeholder {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 2rem;
    line-height: 2rem;    
}
.sys-labels .bx-form-input-text.bx-form-input-autotoken b.val-placeholder .sys-icon {
    display: inline-block;
    width: 1.0rem;
    height: 1.0rem;
    line-height: 1.0rem;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    vertical-align: middle;
}

.sys-labels .bx-form-input-text.bx-form-input-autotoken input:not([type = 'hidden']) {
    width: auto !important;
    padding: 0;
}

/*-- Labels Popup Search --*/
.sys-labels-select .bx-form-input-text.bx-form-input-autotoken b {
    padding-left: 0.5rem;
}


/*-- Labels Popup List and Labels Browse  --*/
.sys-labels-list-cnt {
    max-height: 8.5rem;
    overflow-y: auto;
}
.sys-labels-level {
    position: relative;
    
    width: 100%;
}
.sys-labels-level.sys-ll-0 {
    position: relative;
    display: block;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.sys-labels-level.sys-ll-0 > .sys-labels-list-item {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.sys-labels-list .sys-labels-level.sys-ll-0 > .sys-labels-list-item {
    width: 50%;
}
.bx-layout-column-thin .sys-labels-browse .sys-labels-level.sys-ll-0 > .sys-labels-list-item {
    width: 50%;
}
.bx-layout-column-half .sys-labels-browse .sys-labels-level.sys-ll-0 > .sys-labels-list-item {
    width: 33.3%;
}
.bx-layout-column-wide .sys-labels-browse .sys-labels-level.sys-ll-0 > .sys-labels-list-item {
    width: 25%;
}
.bx-layout-column-fullwidth .sys-labels-browse .sys-labels-level.sys-ll-0 > .sys-labels-list-item {
    width: 16.6%;
}
.bx-media-phone .sys-labels-browse .sys-labels-level.sys-ll-0 > .sys-labels-list-item {
    width: 50%;
}
.sys-labels-li-sublist {
    display: none;
}
.sys-labels-li-sublist.sys-labels-lis-opened {
    display: block;
}


/*-- Labels List Item --*/
.sys-labels-list-item-box {
    position: relative;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.sys-labels-list-item-box > * {
    -webkit-flex-grow: 0;
    flex-grow: 0;
}
.sys-labels-li-checbox input {
    margin: 0;
}
.sys-labels-li-title {
    -webkit-flex-grow: 1;
    flex-grow: 1;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}