div.bx-base-group-recommendations .bx-base-pofile-unit-with-cover {  
    flex: 0 0 50%;
}

.bx-media-phone div.bx-base-group-recommendations .bx-base-pofile-unit-with-cover {  
    flex: 0 0 100%;
}