<div class="bx-reputation-history">
    <div class="bx-reputation-h-items">
        <bx_repeat:items>
            <div class="bx-reputation-h-item flex items-center w-full mt-2 first:mt-0 space-x-4">
                <div class="bx-reputation-hi-title flex-1">__unit__: __action__</div>
                <div class="bx-reputation-hi-points min-w-16 text-xl text-center">__points__</div>
                <div class="bx-reputation-hi-date min-w-32 text-center">__date__</div>
            </div>
        </bx_repeat:items>
    </div>
    <bx_if:show_paginate>
        <div class="bx-reputation-h-footer mt-4">__paginate__</div>
    </bx_if:show_paginate>
</div>