<bx_if:span>
    <span class="bx-def-font-meta __class__" <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</span>
</bx_if:span>
<bx_if:a>
    <a class="bx-def-font-meta bx-def-a-colored __class__" <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</a>
</bx_if:a>
<bx_if:button>
    <a class="bx-btn __class__" <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</a>
</bx_if:button>
<bx_if:sbutton>
    <a class="bx-btn bx-btn-small __class__" <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</a>
</bx_if:sbutton>
<bx_if:custom>
    <div <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</div>
</bx_if:custom>
<bx_if:nl>
    <div class="w-full h-0"></div>
</bx_if:nl>