<div class="bx-category-list space-y-1">
    <bx_if:show_all>
        <div class="bx-category-list-item"><a href="__url__">__name__</a></div>
    </bx_if:show_all>
    <bx_repeat:cats>
        <div class="bx-category-list-item __selected_class__ bx-stl-mil-wo-gaps">
            <a class="bx-stl-mil-gaps flex items-center" href="__url__">
                <bx_if:show_icon>
                    <span class="bx-cli-icon bx-stl-mii">
                        <bx_if:show_icon_font><i class="sys-icon __icon_name__"></i></bx_if:show_icon_font>
                        <bx_if:show_icon_html><i class="sys-icon sys-icon-emoji">__icon_code__</i></bx_if:show_icon_html>
                    </span>
                </bx_if:show_icon>
                <span class="bx-cli-text bx-stl-mit">__name__ (__num__)</span>
            </a>
        </div>
    </bx_repeat:cats>
</div>