/*--- List ---*/
.bx-resources-list .bx-def-color-bg-hl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}
.bx-resources-list-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: calc(100% - 220px);
}
.bx-resources-list .bx-def-border-bottom:last-child{
    border: none;
}

/*--- Resource ---*/
.bx-resources-entry {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.bx-resources-entry .bx-badges-list {
    display: inline-block;
}
.bx-resources-entry .bx-resources-entry-name {
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.bx-media-desktop .bx-resources-form-cnt {
    width: 800px;
}
